In [7]:
import math
import collections
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp
import zipfile

# To display the matplotlib graphs next to the code
%matplotlib inline

# Lazy install libraries in-line using !pip install <library>

In [11]:
# Unzipping a file

file_path = 'data/names.zip'
zipfile.ZipFile(file_path).extractall(path='data/')

In [ ]:
# Curious at what the new directory looks like?

In [32]:
ls data/names

NationalReadMe.pdf  yob1914.txt         yob1949.txt         yob1984.txt
yob1880.txt         yob1915.txt         yob1950.txt         yob1985.txt
yob1881.txt         yob1916.txt         yob1951.txt         yob1986.txt
yob1882.txt         yob1917.txt         yob1952.txt         yob1987.txt
yob1883.txt         yob1918.txt         yob1953.txt         yob1988.txt
yob1884.txt         yob1919.txt         yob1954.txt         yob1989.txt
yob1885.txt         yob1920.txt         yob1955.txt         yob1990.txt
yob1886.txt         yob1921.txt         yob1956.txt         yob1991.txt
yob1887.txt         yob1922.txt         yob1957.txt         yob1992.txt
yob1888.txt         yob1923.txt         yob1958.txt         yob1993.txt
yob1889.txt         yob1924.txt         yob1959.txt         yob1994.txt
yob1890.txt         yob1925.txt         yob1960.txt         yob1995.txt
yob1891.txt         yob1926.txt         yob1961.txt         yob1996.txt
yob1892.txt         yob1927.txt         yob1962.txt         yob1997.txt
yob1893.txt         yob1928.txt         yob1963.txt         yob1998.txt
yob1894.txt         yob1929.txt         yob1964.txt         yob1999.txt
yob1895.txt         yob1930.txt         yob1965.txt         yob2000.txt
yob1896.txt         yob1931.txt         yob1966.txt         yob2001.txt
yob1897.txt         yob1932.txt         yob1967.txt         yob2002.txt
yob1898.txt         yob1933.txt         yob1968.txt         yob2003.txt
yob1899.txt         yob1934.txt         yob1969.txt         yob2004.txt
yob1900.txt         yob1935.txt         yob1970.txt         yob2005.txt
yob1901.txt         yob1936.txt         yob1971.txt         yob2006.txt
yob1902.txt         yob1937.txt         yob1972.txt         yob2007.txt
yob1903.txt         yob1938.txt         yob1973.txt         yob2008.txt
yob1904.txt         yob1939.txt         yob1974.txt         yob2009.txt
yob1905.txt         yob1940.txt         yob1975.txt         yob2010.txt
yob1906.txt         yob1941.txt         yob1976.txt         yob2011.txt
yob1907.txt         yob1942.txt         yob1977.txt         yob2012.txt
yob1908.txt         yob1943.txt         yob1978.txt         yob2013.txt
yob1909.txt         yob1944.txt         yob1979.txt         yob2014.txt
yob1910.txt         yob1945.txt         yob1980.txt         yob2015.txt
yob1911.txt         yob1946.txt         yob1981.txt         yob2016.txt
yob1912.txt         yob1947.txt         yob1982.txt         yob2017.txt
yob1913.txt         yob1948.txt         yob1983.txt         yob2018.txt

In [23]:
# Quick peek at one file (up to 10 lines)
sample_file = 'data/names/yob1880.txt'
open(sample_file).readlines()[:10]

['Mary,F,7065\n',
 'Anna,F,2604\n',
 'Emma,F,2003\n',
 'Elizabeth,F,1939\n',
 'Minnie,F,1746\n',
 'Margaret,F,1578\n',
 'Ida,F,1472\n',
 'Alice,F,1414\n',
 'Bertha,F,1320\n',
 'Sarah,F,1288\n']

In [24]:
# But parsing that is quite difficult, hmm, how about creating a Pandas dataframe and reading it as csv?
pd.read_csv(sample_file)

           Mary  F  7065
0          Anna  F  2604
1          Emma  F  2003
2     Elizabeth  F  1939
3        Minnie  F  1746
4      Margaret  F  1578
...         ... ..   ...
1994     Woodie  M     5
1995     Worthy  M     5
1996     Wright  M     5
1997       York  M     5
1998  Zachariah  M     5

[1999 rows x 3 columns]

In [41]:
# That looks quite okay except the first line was assumed as a header row.
# We can define the labels too using names parameter for read_csv.
columns = ['name', 'sex', 'count']
pd.read_csv(sample_file, names=columns)

           name sex  count
0          Mary   F   7065
1          Anna   F   2604
2          Emma   F   2003
3     Elizabeth   F   1939
4        Minnie   F   1746
...         ...  ..    ...
1995     Woodie   M      5
1996     Worthy   M      5
1997     Wright   M      5
1998       York   M      5
1999  Zachariah   M      5

[2000 rows x 3 columns]

In [42]:
# Now we need to read ALL of those in data/names

# But before that, we need to define a method that would assign the corresponding year from each files

# We can do it by modifying that data frame and creating a new column
pd.read_csv(sample_file, names=columns.assign(year=1880)

SyntaxError: unexpected EOF while parsing (1754436534.py, line 6)

In [44]:
# The year was hardcoded, now how do we do it dynamically?

# Observing the files, they are named like this: yob <year> . txt
# And the years are 1880-2018
# So we can use the year in that format

# To read and store eveything into one dataframe, we will concat many dataframes together:

baby_names = pd.concat(pd.read_csv(f'data/names/yob{year}.txt', names=columns).assign(year=year) 
            for year in range(1880, 2019))

In [45]:
baby_names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1957046 entries, 0 to 32032
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   name    object
 1   sex     object
 2   count   int64
 3   year    int64
dtypes: int64(2), object(2)
memory usage: 74.7+ MB

In [48]:
# We did get all the data 
baby_names.year.min(), baby_names.year.max()

(1880, 2018)

In [49]:
# Saves to a new CSV file

# baby_names.to_csv('baby_names_all.csv', index=False)

# To compress file, save with .gz

baby_names.to_csv('baby_names_all.csv.gz', index=False)